* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: hsl(0, 0%, 9%);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container { 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: start;
    align-items: center;
    width: 70vw;
    outline: 1px solid gray;
}

.grid-box {
    /* border: .1px solid gray; */
    width: 50px;
    height: 50px;
}

.options {
    display: flex;
    flex-direction: row;
    width: 70vw;
    justify-content: space-between;
}

.slider {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    gap: 10px;
}

.slider button {
    padding: 2px 5px;
    outline: none;
    border: none;
    outline: none;
}

.slider button:hover {
    font-weight: 800;
    background-color: aquamarine;
}

#color-btns {
    display: flex;
    justify-items: center;
    align-items: center;
    padding-bottom: 10px;
    gap: 10px;
}

#color-btns .color-btn {
    padding: 0;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    margin: 0;
    outline: 0;
    width: 30px;
    height: 30px;
}

#color-btns-btn:hover {
    cursor: pointer;
}

#color-btns #white {
    background-color: #fff;
}

#color-btns #blue {
    background-color: rgb(0, 119, 255);
}

#color-btns > #red {
    background-color: hsl(345, 77%, 42%);
}

#color-btns #eraser {
    background-color: transparent;
    color: red;
}